[submodule "Sensor-Data-Ingestion-Service"]
	path = Sensor-Data-Ingestion-Service
	url = git@github.com:Devfest24-ELFARI9/Sensor-Data-Ingestion-Service.git
[submodule "API_gateway"]
	path = API_gateway
	url = git@github.com:Devfest24-ELFARI9/API_gateway.git
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:Devfest24-ELFARI9/dashboard.git
[submodule "Alert-service"]
	path = Alert-service
	url = git@github.com:Devfest24-ELFARI9/Alert-service.git
[submodule "Production-monitoring-service"]
	path = Production-monitoring-service
	url = git@github.com:Devfest24-ELFARI9/Production-monitoring-service.git
